/* style.css */

@import url(https://fonts.googleapis.com/css?family=Homenaje);

*:before, *:after, *
  box-sizing: border-box

*
  margin: 0
  padding: 0

html, body, #main
  height: 100%
  width: 100%

body
  background: white

body, input, button
  font-size: 1.5em
  font-family: 'Homenaje', sans-serif
  color: #4a4a4a

input, button
  display: block
  margin: 10px auto
  height: 2em
  width: 80%
  text-align: center
  border: 3px solid #4a4a4a
  border-radius: 5px
  background-color: white
  &:focus
    outline: none

.hidden
  display: none
  opacity: 0

#logo
  img
    height: 200px
    width: 200px
    display: block
    margin: 20px auto

#title
  text-align: center

#popup
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(255, 255, 255, 0.7)

#close
  position: fixed
  top: 10px
  right: 10px
  color: red
  font-size: 1.5em
  text-decoration: none
