//- index.html

include ./utils.jade

-
  var pages = [
    { page: 'dumbify', name: 'Dumbify' },
    { page: 'summarize', name: 'Summarize' }
  ]

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    +style('style.css')
    title Egoscio's Github Pages
  body
    #logo
      img(src='logo.png', alt='logo')
    h2#title Egoscio's Slice of The Internet
    #buttons
      for page in pages
        button(data-page=page.page)= page.name
    #popup.hidden
      a#close(href='#') X
      #pages
    +script('jquery-latest.min.js')
    +script('velocity.min.js')
    +script('script.js')
